# Ignore IDEA directories
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

# Ignore IDEA configuration files
*.iml
*.ipr
*.iws

# Ignore Eclipse files
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# Ignore NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignore VS Code files
.vscode/

# Ignore build outputs and caches
out/
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore Maven-specific files
/target/
!.mvn/wrapper/maven-wrapper.jar
mvn.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and temp files
*.log
*.tmp

# Ignore test files
test-output/
surefire-reports/
failsafe-reports/

# Ignore compiled binary files
*.class
*.jar
*.war
*.ear

# Ignore editor and OS-specific settings
*.swp
*.swo
*.~*

# Docker and Environment variables
.env

